In [1]:
#dados El Niño / La Niña

In [11]:
import pandas as pd
import seaborn as sb
import statistics as st

In [12]:
dados_nino = pd.read_csv("el_nino_la_nina_1999_2019.csv")

In [13]:
dados_nino.head()

   start year  end year phenomenon  severity
0        2004      2005    El Nino      Weak
1        2006      2007    El Nino      Weak
2        2014      2015    El Nino      Weak
3        2018      2019    El Nino      Weak
4        2002      2003    El Nino  Moderate

In [14]:
dados_nino.tail()

    start year  end year phenomenon  severity
11        2017      2018    La Nina      Weak
12        2011      2012    La Nina  Moderate
13        1999      2000    La Nina    Strong
14        2007      2008    La Nina    Strong
15        2010      2011    La Nina    Strong

In [15]:
dados_nino.shape

(16, 4)