In [4]:
import numpy as np
import pandas as pd

In [5]:
base = pd.read_csv('dados.csv', sep =';')
base.head()

   CODIGO               MUNICIPIO       PIB  VALOREMPENHO
0     106   SANTANA DO LIVRAMENTO  12240.76    1088666.10
1     113            SANTO ANGELO  16575.82     800669.92
2     118  SAO FRANCISCO DE ASSIS  12037.61     466122.80
3      13         CACAPAVA DO SUL  13674.54     485535.86
4     120             SAO GABRIEL  19912.38     533719.86

In [6]:
base.shape

(187, 4)

In [8]:
base.iloc[:, 1:]

                   MUNICIPIO       PIB  VALOREMPENHO
0      SANTANA DO LIVRAMENTO  12240.76    1088666.10
1               SANTO ANGELO  16575.82     800669.92
2     SAO FRANCISCO DE ASSIS  12037.61     466122.80
3            CACAPAVA DO SUL  13674.54     485535.86
4                SAO GABRIEL  19912.38     533719.86
..                       ...       ...           ...
182  SANTA VITORIA DO PALMAR  27170.89        760.00
183     SANTA BARBARA DO SUL  29654.02        365.00
184           GETULIO VARGAS  16876.33        233.01
185          NOVA SANTA RITA  25938.38        310.58
186      GUARANI DAS MISSOES  24363.31        172.13

[187 rows x 3 columns]