In [1]:
# SÃ©ries Temporais

In [2]:
# import das bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
# registro de converters para uso do matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [4]:
base = pd.read_csv('./dados/AirPassengers.csv', sep = ',')
base.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121