In [1]:
# Amostragem simples

In [2]:
# Importação de bibliotecas
import pandas as pd
import numpy as np

In [3]:
base = pd.read_csv('iris.csv')

In [4]:
base.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
#Verificar linhas e colunas
base.shape

(150, 5)

In [6]:
# Mudança da semente aleatoria randomica para manter e reproduzir os resultados em varias execuções
np.random.seed(2345)
# 150 amostras, de 0 e 1, com reposição, probabilidades equivalentes
# a é espaço amostral que será criado, zeros e 1
# size tem q coincidir com a quantidade de linhas que se quer trabalhar na base inicial
# replace = True porque tem que gerar vários 0 e 1
# p são probabilidades para os elementos gerados, nesse caso 0 tem 70%(treino) e 1 tem 30%(teste)
amostra = np.random.choice(a = [0, 1], size = 150, replace = True, p = [0.7, 0.3])
#Verificar o tamanho da amostra
len(amostra)
#Verificar o tamanho da amostra para valores iguais a 1 e 0
len(amostra[amostra == 1])
len(amostra[amostra == 0])

101

In [12]:
base_final_0 = base.loc[amostra == 0]
base_final_0.shape

(101, 5)

In [13]:
base_final_0.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [14]:
base_final_1 = base.loc[amostra == 1]
base_final_1.shape

(49, 5)

In [15]:
base_final_1.head()

    sepal length  sepal width  petal length  petal width        class
4            5.0          3.6           1.4          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa