In [3]:
# Visualização e tratamento de dados de desmatamento da Amazonia

In [22]:
import pandas as pd
import seaborn as sb
import statistics as st
import numpy as np
import matplotlib.pyplot as plt

In [23]:
dados = pd.read_csv('def_area_2004_2019.csv')

In [24]:
# Exibir dados iniciais
dados.head()

   Ano/Estados   AC    AM   AP    MA     MT    PA    RO   RR   TO  AMZ LEGAL
0         2004  728  1232   46   755  11814  8870  3858  311  158      27772
1         2005  592   775   33   922   7145  5899  3244  133  271      19014
2         2006  398   788   30   674   4333  5659  2049  231  124      14286
3         2007  184   610   39   631   2678  5526  1611  309   63      11651
4         2008  254   604  100  1271   3258  5607  1136  574  107      12911

In [25]:
dados.tail()

    Ano/Estados   AC    AM  AP   MA    MT    PA    RO   RR  TO  AMZ LEGAL
11         2015  264   712  25  209  1601  2153  1030  156  57       6207
12         2016  372  1129  17  258  1489  2992  1376  202  58       7893
13         2017  257  1001  24  265  1561  2433  1243  132  31       6947
14         2018  444  1045  24  253  1490  2744  1316  195  25       7536
15         2019  688  1421   8  215  1685  3862  1245  617  21       9762

In [26]:
len(dados)

16

In [27]:
#Análise Exploratória
# Explorar dados do estado do Amazonas
agrupado_AM = dados.groupby(['AM']).size()
agrupado_AM

AM
405     1
500     1
502     1
523     1
583     1
595     1
604     1
610     1
712     1
775     1
788     1
1001    1
1045    1
1129    1
1232    1
1421    1
dtype: int64

In [31]:
#Visualização do histograma com 6 divisões
plt.hist(agrupado_AM.iloc[:,1], bins = 6) # plotar histograma na coluna 1 com 6 eixos. Cada eixo é um resumo do intervalo de dados em que está contido.
plt.title('Desmatamento Amazonas')
plt.ylabel('Hectares')
plt.xlabel('Ano')

IndexingError: Too many indexers