In [1]:
# Gráficos de dispersão com legendas

In [2]:
# Importar bibliotecas
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
base = pd.read_csv('co2.csv')
base.head()

  Plant    Type   Treatment  conc  uptake
0   Qn1  Quebec  nonchilled    95    16.0
1   Qn1  Quebec  nonchilled   175    30.4
2   Qn1  Quebec  nonchilled   250    34.8
3   Qn1  Quebec  nonchilled   350    37.2
4   Qn1  Quebec  nonchilled   500    35.3

In [5]:
base.tail()

   Plant         Type Treatment  conc  uptake
79   Mc3  Mississippi   chilled   250    17.9
80   Mc3  Mississippi   chilled   350    17.9
81   Mc3  Mississippi   chilled   500    17.9
82   Mc3  Mississippi   chilled   675    18.9
83   Mc3  Mississippi   chilled  1000    19.9

In [6]:
base.shape

(84, 5)

In [8]:
# Criando duas variáveis para cada atributo(x = conc e y = uptake)
x = base.conc
y = base.uptake

In [9]:
# Retorna os valores únicos do atributo "treatment"
unicos = list(set(base.Treatment))
unicos

['nonchilled', 'chilled']

In [ ]:
# Percorre cada tipo de tratamento e cria um gráfico de dispersão
for i in range(len(unicos)):
    indice = base.Treatment == unicos[i]
    plt.scatter(x[indice], y[indice], label = unicos[i])
plt.legend(loc = 'lower right')