In [1]:
# import das bibliotecas
import numpy as np
import pandas as pd

In [2]:
Criar uma s√©rie indexada
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
# Criar um range de datas
dates = pd.date_range('20201115', periods = 6)

In [5]:
dates

DatetimeIndex(['2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# Criar um dataframe(matriz(6,4) com valores randomicos) e as colunas('A', 'B', 'C', 'D')
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2020-11-15  1.593635 -0.131280 -0.857837  0.280879
2020-11-16  2.158364 -0.346466 -2.152157 -0.680632
2020-11-17 -1.508437  0.496845 -0.156146 -1.324961
2020-11-18  0.532797  0.480537  1.472906  0.385428
2020-11-19 -0.790208  3.632613  0.677469  0.521676
2020-11-20  0.016545 -0.456304 -0.734767 -0.957311

In [8]:
# Criar um dataframe passando um dicionario de objetos convertidos em modelo serial
df2 = pd.DataFrame({'A': 1,
                    'B': pd.Timestamp('20201118'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'pandas'})
df2

   A          B    C  D      E       F
0  1 2020-11-18  1.0  3   test  pandas
1  1 2020-11-18  1.0  3  train  pandas
2  1 2020-11-18  1.0  3   test  pandas
3  1 2020-11-18  1.0  3  train  pandas

In [10]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
# primeiras  linhas
df.head()

                   A         B         C         D
2020-11-15  1.593635 -0.131280 -0.857837  0.280879
2020-11-16  2.158364 -0.346466 -2.152157 -0.680632
2020-11-17 -1.508437  0.496845 -0.156146 -1.324961
2020-11-18  0.532797  0.480537  1.472906  0.385428
2020-11-19 -0.790208  3.632613  0.677469  0.521676

In [12]:
#ultimas linhas
df.tail()

                   A         B         C         D
2020-11-16  2.158364 -0.346466 -2.152157 -0.680632
2020-11-17 -1.508437  0.496845 -0.156146 -1.324961
2020-11-18  0.532797  0.480537  1.472906  0.385428
2020-11-19 -0.790208  3.632613  0.677469  0.521676
2020-11-20  0.016545 -0.456304 -0.734767 -0.957311

In [13]:
# √≠ndices das colunas, nome das linhas
df.index

DatetimeIndex(['2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20'],
              dtype='datetime64[ns]', freq='D')

In [14]:
# colunas
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
# converter o dataframe para uma matriz com numpy
df.to_numpy()

array([[ 1.59363502, -0.1312801 , -0.85783701,  0.28087895],
       [ 2.15836423, -0.34646585, -2.15215734, -0.68063208],
       [-1.50843721,  0.49684477, -0.15614578, -1.32496102],
       [ 0.53279714,  0.48053678,  1.4729057 ,  0.38542756],
       [-0.79020821,  3.63261265,  0.67746932,  0.52167609],
       [ 0.01654488, -0.45630387, -0.73476746, -0.95731111]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.333783  0.612657 -0.291755 -0.295820
std    1.393822  1.534082  1.268828  0.788640
min   -1.508437 -0.456304 -2.152157 -1.324961
25%   -0.588520 -0.292669 -0.827070 -0.888141
50%    0.274671  0.174628 -0.445457 -0.199877
75%    1.328426  0.492768  0.469066  0.359290
max    2.158364  3.632613  1.472906  0.521676

In [17]:
# matriz transposta
df.T

   2020-11-15  2020-11-16  2020-11-17  2020-11-18  2020-11-19  2020-11-20
A    1.593635    2.158364   -1.508437    0.532797   -0.790208    0.016545
B   -0.131280   -0.346466    0.496845    0.480537    3.632613   -0.456304
C   -0.857837   -2.152157   -0.156146    1.472906    0.677469   -0.734767
D    0.280879   -0.680632   -1.324961    0.385428    0.521676   -0.957311

In [21]:
# trocando as colunas de posi√ß√£o
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-11-15  0.280879 -0.857837 -0.131280  1.593635
2020-11-16 -0.680632 -2.152157 -0.346466  2.158364
2020-11-17 -1.324961 -0.156146  0.496845 -1.508437
2020-11-18  0.385428  1.472906  0.480537  0.532797
2020-11-19  0.521676  0.677469  3.632613 -0.790208
2020-11-20 -0.957311 -0.734767 -0.456304  0.016545

In [22]:
# ordenando por uma coluna especifica de forma ascendente de valor
df.sort_values(by='B')

                   A         B         C         D
2020-11-20  0.016545 -0.456304 -0.734767 -0.957311
2020-11-16  2.158364 -0.346466 -2.152157 -0.680632
2020-11-15  1.593635 -0.131280 -0.857837  0.280879
2020-11-18  0.532797  0.480537  1.472906  0.385428
2020-11-17 -1.508437  0.496845 -0.156146 -1.324961
2020-11-19 -0.790208  3.632613  0.677469  0.521676

In [25]:
# Selecionando dados de uma coluna especifica
df['C']

2020-11-15   -0.857837
2020-11-16   -2.152157
2020-11-17   -0.156146
2020-11-18    1.472906
2020-11-19    0.677469
2020-11-20   -0.734767
Freq: D, Name: C, dtype: float64

In [28]:
# Selecionando mais de uma coluna
df.loc[:, ['A', 'C']]

                   A         C
2020-11-15  1.593635 -0.857837
2020-11-16  2.158364 -2.152157
2020-11-17 -1.508437 -0.156146
2020-11-18  0.532797  1.472906
2020-11-19 -0.790208  0.677469
2020-11-20  0.016545 -0.734767

In [29]:
# Selecionando linhas e colunas espec√≠ficas
df.loc['20201117':'20201120', ['A', 'D']]

                   A         D
2020-11-17 -1.508437 -1.324961
2020-11-18  0.532797  0.385428
2020-11-19 -0.790208  0.521676
2020-11-20  0.016545 -0.957311

In [34]:
# Selecionando um dado especifico por indice na linha x coluna
df.loc[dates[1], 'A']

2.1583642266725604

In [35]:
df.loc[dates[2], 'D']

-1.324961022886539

In [42]:
# Definindo uma fun√ß√£o para trocar de cor os valores negativos
def color_negative_red(val):
    if val < 0:
        color = 'red'
    else: 
        color = 'white'
    return 'color: %s' % color

In [44]:
# Definindo um estilo na tabela, utilizando a fun√ß√£o definida acima
red = df.style.applymap(color_negative_red)
red

In [46]:
# Sele√ß√£o por posi√ß√£o(√≠ndice/linha)
df.iloc[3]

A    0.532797
B    0.480537
C    1.472906
D    0.385428
Name: 2020-11-18 00:00:00, dtype: float64

In [48]:
# Sele√ß√£o por posi√ß√£o utilizando linha e coluna
df.iloc[1:4, 1:2]

                   B
2020-11-16 -0.346466
2020-11-17  0.496845
2020-11-18  0.480537

In [50]:
# Sele√ß√£o por posi√ß√£o utilizando linha e coluna
df.iloc[[1,3,5], [1,3]]

                   B         D
2020-11-16 -0.346466 -0.680632
2020-11-18  0.480537  0.385428
2020-11-20 -0.456304 -0.957311

In [51]:
df.iloc[3, 3]

0.3854275644986616

In [54]:
# Indexando por resultado de uma booleana
# Misturando ferramentas vistas anteriormente para selecionar somente as colunas A e B onde os valores de A sejam positivos
df.loc[df['A'] > 0, ['A', 'B']]

                   A         B
2020-11-15  1.593635 -0.131280
2020-11-16  2.158364 -0.346466
2020-11-18  0.532797  0.480537
2020-11-20  0.016545 -0.456304

In [55]:
dfx = df.copy()

In [58]:
dfx['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [59]:
dfx

                   A         B         C         D      E
2020-11-15  1.593635 -0.131280 -0.857837  0.280879    one
2020-11-16  2.158364 -0.346466 -2.152157 -0.680632    one
2020-11-17 -1.508437  0.496845 -0.156146 -1.324961    two
2020-11-18  0.532797  0.480537  1.472906  0.385428  three
2020-11-19 -0.790208  3.632613  0.677469  0.521676   four
2020-11-20  0.016545 -0.456304 -0.734767 -0.957311  three

In [60]:
dfx.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.333783  0.612657 -0.291755 -0.295820
std    1.393822  1.534082  1.268828  0.788640
min   -1.508437 -0.456304 -2.152157 -1.324961
25%   -0.588520 -0.292669 -0.827070 -0.888141
50%    0.274671  0.174628 -0.445457 -0.199877
75%    1.328426  0.492768  0.469066  0.359290
max    2.158364  3.632613  1.472906  0.521676

In [64]:
# M√©dia de cada coluna
dfx.mean()

A    0.333783
B    0.612657
C   -0.291755
D   -0.295820
dtype: float64

In [65]:
# M√©dia de cada linha
dfx.mean(1)

2020-11-15    0.221349
2020-11-16   -0.255223
2020-11-17   -0.623175
2020-11-18    0.717917
2020-11-19    1.010387
2020-11-20   -0.532959
Freq: D, dtype: float64

In [67]:
dfx

                   A         B         C         D      E
2020-11-15  1.593635 -0.131280 -0.857837  0.280879    one
2020-11-16  2.158364 -0.346466 -2.152157 -0.680632    one
2020-11-17 -1.508437  0.496845 -0.156146 -1.324961    two
2020-11-18  0.532797  0.480537  1.472906  0.385428  three
2020-11-19 -0.790208  3.632613  0.677469  0.521676   four
2020-11-20  0.016545 -0.456304 -0.734767 -0.957311  three